.columna {
	background: #cce5cc;;
	border: 1px solid #333;
	text-align: center;
	border-radius: 7px;
	border-bottom: -3px;
}
.estimate{
  font-size: 2px;
}
.columna-estimate {
  background: #cce5cc;
  /*border: 1px solid #333;*/
  /*text-align: center;*/
  border-radius: 7px;
  border-bottom: -3px;
}

#logo{
  width: 35%;
  margin-right: 5em;
  margin-top: 4px;
}
.logo-container{
width: 100%;
  margin-top: 20px;
}
.jumbotron{
	background-image: url("../img/hola4.jpg");
    color: black;
}

.local{
	background: black;
  /*opacity: 0.7;*/
	color:white;
	font-size: 36px;
}
.boton{

  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
  margin-bottom: -15px;
  margin-top: 64px;
}
/*ul {
  margin-top: 176px;
  margin-bottom: 10px;
  font-size: 31px;
  /*background: rgb(65, 63, 63);
  opacity:0.7;
  */
}
.article2{
background: red;
/*  margin-top: 176px;
  margin-bottom: 10px;
  font-size: 31px;
  background: rgb(65, 63, 63);
  opacity:0.7;*/
}

.finding{
    font-size: 38px;
  text-align: center;
  background: black;
  color: white;
  margin-top: 48px;
  /*opacity:0.7;*/
  margin-bottom: 61px;
  border-radius: 5px;

}
.findingparrafo{
    margin: 0 0 10px;
  font-size: 18px;
  margin-top: 41px;
  margin-bottom: -127px;

}
.article {
  margin: 51px -9px 0px -12px;
  font-size: 19px;
  background: black;
  opacity: 0.7;
  color: white;
    padding-bottom: 14px;
  border-radius: 29px;
}
/*.article-worker{*/
/*margin: 51px -9px 0px -12px;*/
  /*font-size: 19px;*/
  /*background: black;*/
  /*color: white;*/
    /*padding-bottom: 14px;*/
  /*border-radius: 29px;*/

/*}*/


/*botones github
*/

  .button  {
    padding: 14px;
    margin: 0;
    background: green;
    font-weight: 500;
    color:white;
    padding: 10px 16px;
  font-size: 2.3em;
  line-height: 1.3333333;
  border-radius: 6px;
  margin-bottom: 47px;
  margin-top: 100px;
  z-index: 1;

  }
.button:hover{
    background: #002600;

}

.button4{
background: orange;
z-index: 1;
font-size: 1.5em;
}

/*.button2  {
    padding: 14px;
    margin: 0;
    font-size: 18px;
    background: blue;

    font-weight: 500;
    color:white;
    padding: 10px 16px;
  font-size: 23px;
  line-height: 1.3333333;
  border-radius: 6px;
  margin-bottom: -15px;
  margin-top: 105px;

  }*/
  .button3  {
    padding: 14px;
    margin: 0;
    font-size: 18px;
    background: orange;

    font-weight: 500;
    color:white;
    padding: 10px 16px;
  font-size: 23px;
  line-height: 1.3333333;
  border-radius: 6px;
  margin-bottom: -15px;
  margin-top: 105px;

  }
.colorbackground{
color:white;

}



.color-navbar{
  background-color: #4CAF50;
  border-color: #4CAF50;
  /*padding-left: 2em;*/
}
.color-navbar:hover li{
  /*background-color: #2d6930;*/
}
.navbar-inverse .navbar-brand {
  color: white;
}
.navbar-inverse .navbar-nav>li>a {
  color: white;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
transition:font-size 12s;
-moz-transition:font-size 12s; /* Firefox 4 */
-webkit-transition:font-size 12s; /* Safari and Chrome */
-o-transition:font-size 12s;
transition:color 12s;
-moz-transition:color 12s; /* Firefox 4 */
-webkit-transition:color 12s; /* Safari and Chrome */
-o-transition:color 12s;
}
.navbar-inverse .navbar-nav>li>a:hover {
font-size: 1.2em;
-moz-transition:font-size 1s; /* Firefox 4 */
-webkit-transition:font-size 1s; /* Safari and Chrome */
}




.navbar-inverse .navbar-nav>li>a {
  color: white;
  background: #4CAF50;
}


/*.color-navbar-brand {
  background: white;
}

.navbar-inverse .navbar-brand:hover {
  color: white;
}*/

  .text-center {
  text-align: center;
  background: black;
  opacity: 0.7;
  border-radius: 10px;
}

.pros{
  margin-top: -40px;
  margin-left: 29px;
}


/*formato del cuadro de dialogo*/
 #dialog h2 {
    padding: 14px;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
  }
/*fin del formato del cauado de dialogo*/












#FreeArea {
  background-color: #4C5C69;
  padding: 2.5em 0;
  background-image: url(../img/bottom-cta-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

#FreeCleaningCTA {
}
.main {
  max-width: 1140px;
  width: auto;
  margin: 0px auto;
  position: relative;
  padding: 0;
}

.free-cleaning-content {
  float: left;
}
.free-cleaning-content h1 {
  color: #BBA0A0;
  font-size: 2.875em;
  line-height: 1em;
  font-weight: normal;
}

.free-cleaning-content h2 {
  color: #69BE28;
  font-weight: 700;
  font-size: 3.125em;
  margin-bottom: .25em;

}

.free-cleaning-content .btn {
  display: inline-block;
  text-align: center;
  box-shadow: 1px 1px 3px rgba(0,0,0,.3);
  padding: .75em 0;
  min-width: 65%;
}

.free-img {
  float: right;
}


  #floating-action-button .btn {
    margin: 20px;
    border-radius: 50%;
  }
  #floating-action-button h2 {
    padding: 14px;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
  }
.sss{
   padding: 14px;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    background: green; 
    color: white;
    position:absolute;

}
comienzo estimate
.suma{
  color:#6f6f6f;

}

.sum{
  font-size: 1em;
  background: #337ab7;
  border-color:#2e6da4;  
  padding: 10px 20px;
  color:white;
  text-decoration: none;
  border-radius: 5px;
    
}

.suma-total{
  margin-top: 12px;

}
fin estimate sin arreglo

#qty{

  color:#404040;
  background:#fff;
  border-top-width: 2px;
  border-color: #c5c5c5;
  border-radius: 3px;
  text-align: center;
  font-size: 16px;
  padding: 2px 10px;
}
#qty:hover{
  border-color: #66afe9;
}

.calculator{
  border: 1px solid green;
  display: inline-block;
  
}
.sumabathrooms{
  border-bottom: 1px solid blue;
}
.estimate
{
  font-size: 20px;
}
h1 .estimate-header
{
  font-size: 23px;
}

.page-wrap{
    margin-left: 29px; 
    border-top: 1px solid #00b0ff;
    border:1px solid black;
    background:#C2EF95 !important;;
    width: 95%;
}













/*
.full-width{
	width:100%;
	color: #fff;
	background-color: #400080;
	padding: 20px;
	margin-top: -10px;
	height: 100%;
}
.full-width-extra{
	color: #000;
	background-color: #fc0;

}
h1 {
	color: black;
	text-align: center;
}
.row {
	
}
.fila-b > .columna{
	background-color: red;
}
.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  width: 307px;
  margin-right: -164px;
}

/*.navbar-nav {
  float: right;
  margin-top: 10px;
  height: 100%;
 margin-right: 1em;
  margin-left: 43em;
}


.navbar-right {
  float: right!important;
  margin-right: 94px;
  margin-top: 32px;
  font-size: 2em;
}
.navbar-nav>li>a {
  padding-top: 15px;
  padding-bottom: 15px;
}
.navbar-nav>li>a:hover
{
	background-color: red;
}

img{
  border: 0;
  width: 75%;
  margin-top: -6px;
  margin-left: 32px;
}















@media(max-width:767px) {
  #logo{
  width: 30%;
  margin-right: 5em;
  margin-top: 4px;
}
}

@media(max-width:380px) {

ul li{
  margin-top: 93px;
  background: red;
  margin-bottom: 10px;
  font-size: 20px;
  /*background: rgba(255, 255, 255, 0.8);
 /* border-radius: 10px;
}
}
*/



















@media (max-width: 767px){
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
  color: white;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
  color: white;
  background: #265728;

}
.pros {
  margin-top: -40px;
  margin-left: 15px;
}
.suma-total{

}
.sum{

  margin-top:2px; 
}
}